html{
    background-color:#1b1b1b;
    color:#c4c4c4;
}

.sidebar {
      display: block;
      position:fixed;
      float: right;
      width: 250px;
      height: 100%; 
      background-color:#1b1b1b;
      overflow: hidden;
      text-align:center;
      clear: both;
}

.pages p {
    color:#c4c4c4;
    align-items: middle;
}

.pages ul, .pages a {
    list-style: none;
    align-items: middle;
    color:#c4c4c4;
    text-decoration: none;
    padding-left: 5px;
}

.pages li:hover, .pages a:hover{
    list-style: none;
    align-items: middle;
    color:#c4c4c4;
    font-style: italic;
}

.primary {
    display: block;
    position: relative;
    float: right;
    margin-left: 350px;
    margin-top: 200px;
    margin-right: 250px;
    font-size: 12px;
}

footer {
    position: absolute;
    bottom: 0;
    clear: both;
    padding-right: 40px;
}

footer li {
    list-style: none;
    list-style-type: none;
    display:inline;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

footer img {
    width: 20%;
    height: auto;
}

#logo {
    position: relative;
}
#logo img {
    position: absolute;
    top: 0px;
    right: 0px;
}

#avatar{
    width: 90%;
    height: auto;
}
