<!DOCTYPE html>
<html>
<head>
  <title>UN RÊVE</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="lightbox/src/css/lightbox.css" >
  <script src="jquery-3.2.1.min.js"></script>
</head>

<body>
  <div id="logo">
    <img src="/images/ouija.png" class="ribbon"/>
  </div>
  <div class="sidebar">
    <br />
    <br />
    <img id="avatar" src="/images/ouijabig2.png"/>
    
    <div class="pages">
      <br />
      <p>REVENIR</p>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/portfolio">portfolio</a></li>
        <li><a href="/renderings">renderings</a></li>
        <li><a href="/renderings">contact</a></li>
      </ul>
    </div>

  <div class="primary">  
    <p>
      {{ content }}
    </p>
  </div> 
    
    <footer>
        <div>
          <ul>
            <li><a href="https://twitter.com/Revenais"><img id="social" src="/images/twitter.png"/></a></li>
            <li><a href="http://revenais.tumblr.com"><img id="social" src="/images/tumblr.png"/></a></li>
            <li><a href="https://github.com/Revenir"><img id="social" src="/images/github.png"/></a></li>
            <li><a href="mailto:"><img id="social" src="/images/email.png"/></a></li>
          </ul>
        </div>
    </footer>
  </div>
  <!-- <div class="primary">
    <p>
      {{ content }}
    </p>
  </div> -->
  <script src="lightbox/src/js/lightbox.js"></script>
</body>
</html>
