<!DOCTYPE html>
<html>
<head>
  <title>S. ROCK</title>
  <meta charset="utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
</head>

<body>
  <div id="logo">
    <img src="/images/ouija.png" class="ribbon"/>
  </div>
  <div class="sidebar">
    <img id="avatar" src="/images/ouijabig2.png"/>
    
    <div class="pages">
      <p>S. ROCK</p>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/code">code</a></li>
        <li><a href="/illustrations">illustrations</a></li>
      </ul>
    </div>
    
    <footer>
        <div>
          <ul>
            <li><a href="https://twitter.com/Revenais"><img id="social" src="/images/twitter.png"/></a></li>
            <li><a href="http://revenais.tumblr.com"><img id="social" src="/images/tumblr.png"/></a></li>
            <li><a href="https://github.com/Revenir"><img id="social" src="/images/github.png"/></a></li>
            <li><a href="mailto:"><img id="social" src="/images/email.png"/></a></li>
          </ul>
        </div>
    </footer>
  </div>
  <div class="primary">
    <p>
      {{ content }}
    </p>
  </div>
</body>
</html>
